body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  border: 5px solid aquamarine;
}

.search-btn {
  margin-top: 50px;
}

html {
  background: black;
}
h2, h3, h4 {
  color: white;
}

.title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: aquamarine;
}

.year, .genre {
  margin-top: -15px;
  font-family: monospace;
  font-size: 15px;
}

.actors, .plot, .director, .writer, .awards, .imdb, .box, .website{
  font-size: 15px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: -15px;
  text-align: left;
  font-family: fantasy;
}

.actors-text, .plot-text, .directors-text, .writer-text, .awards-text, .imdb-text, .box-text, .website-text {
  color: aquamarine;
  font-weight: bolder;
  font-family:monospace;
  font-size: 20px;
  text-align: left;
  margin-left: 25px;
  
}
